@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body > :not(.container) {
  opacity: 0;
  animation: opacite 3s linear forwards;
}

.container {
  animation: opacite 3s ease-in forwards reverse 3s;
}

.loading_spinner {
  height: 100px;
  width: 100px;
  background-color: #9356dc;
  border-radius: 50%;
  top: calc(45% - 50px);
  left: calc(50% - 50px);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: rotation 3s linear infinite;
}
.loading_spinner i {
  font-size: 50px;
  color: #99e2d0;
  display: block;
}

.cercle {
  height: 120px;
  width: 120px;
  border-top: 10px solid #ff79da;
  border-right: 10px solid #99e2d0;
  border-bottom: 10px solid #ff79da;
  border-left: 10px solid #99e2d0;
  border-radius: 50%;
  top: calc(45% - 60px);
  left: calc(50% - 60px);
  position: fixed;
  animation: rotation 3s linear infinite;
  animation-direction: reverse;
}

.entrees,
.plats,
.desserts {
  margin: 0 12.5px;
  margin-bottom: 40px;
  opacity: 0;
}
.entrees > p,
.plats > p,
.desserts > p {
  font-weight: 100;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-left: 10px;
  position: relative;
}
.entrees > p:after,
.plats > p:after,
.desserts > p:after {
  content: "";
  width: 4rem;
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  bottom: -10px;
  left: 10px;
}

.entrees {
  animation: opacite 2s linear forwards;
}

.plats {
  animation: opacite 2s linear forwards 1s;
}

.desserts {
  animation: opacite 2s linear forwards 2s;
}

.animation_coeur {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.icone-vide {
  font-size: 2rem;
  color: gray;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}

.animation_coeur:hover .icone-vide {
  opacity: 0;
}

.icone-plein {
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.animation_coeur:hover .icone-plein {
  opacity: 1;
}

.pages_animation_coeur {
  position: relative;
  cursor: pointer;
  margin-right: 0;
}

.pages_icone-vide {
  color: gray;
  margin-right: 20px;
  font-size: 3rem;
  z-index: 1;
}

.pages_animation_coeur:hover .pages_icone-vide {
  opacity: 0;
}

.pages_icone-plein {
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.pages_animation_coeur:hover .pages_icone-plein {
  opacity: 1;
}

.prix {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 30px;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  transition: right 0.3s;
}

.validation_du_plat {
  height: 100%;
  width: 0;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  transition: width 0.3s;
}
.validation_du_plat .icone_validation {
  height: 20px;
  width: 20px;
  fill: white;
  position: relative;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transform: rotate(0);
  transition: transform 0.5s;
}

article:hover .validation_du_plat {
  width: 17%;
}
article:hover .validation_du_plat .icone_validation {
  width: 20px;
  transform: rotate(360deg);
}

article:hover .prix {
  right: 15%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media screen and (min-width: 880px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 0;
  margin: 0 auto;
  font-size: 1.4em;
  min-width: 375px;
  max-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo,
.titre_pages h3 {
  font-family: "Shrikhand", cursive;
}

.btn_action_explorer, .btn_action_commander {
  height: 60px;
  width: 215px;
  background: linear-gradient(170deg, #ff79da 20%, #9356dc);
  font-size: 1.6rem;
  color: white;
  border-radius: 50px;
  border: 1px;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  margin: 10px auto 7rem auto;
  position: relative;
}
@media screen and (min-width: 880px) {
  .btn_action_explorer, .btn_action_commander {
    width: 250px;
  }
}
.btn_action_explorer:hover, .btn_action_commander:hover, .btn_action_explorer:active, .btn_action_commander:active {
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.75);
  background: linear-gradient(170deg, #ff93e1, #a16be0);
}
.btn_action_explorer:hover::after, .btn_action_commander:hover::after, .btn_action_explorer:active::after, .btn_action_commander:active::after {
  opacity: 1;
}
.btn_action_explorer::after, .btn_action_commander::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 250ms;
}

.btn_action_commander {
  width: 185px;
  margin-top: 10px;
}

/*FONCTIONNEMENT*/
.fonctionnement {
  padding: 30px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement ol {
  list-style: none;
  counter-reset: li;
  padding-left: 5px;
}
@media screen and (min-width: 1000px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
  }
}
.fonctionnement ol li::before {
  content: counter(li);
  height: 25px;
  width: 25px;
  font-size: 16px;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-block;
  margin-left: -12.5px;
  padding: 0.2em 0;
  text-align: center;
}
.fonctionnement ol li {
  counter-increment: li;
  height: 70px;
  min-width: 325px;
  background-color: #f2f2f2;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  cursor: pointer;
}
.fonctionnement ol li p {
  font-size: 2rem;
  color: gray;
  padding-left: 1.5em;
}
.fonctionnement ol li h4 {
  font-size: 1.3rem;
  padding-left: 2em;
}
.fonctionnement ol li:hover, .fonctionnement ol li:active {
  background-color: #f2eafb;
}
.fonctionnement ol li:hover p, .fonctionnement ol li:active p {
  color: #9356dc;
}

article {
  min-width: 350px;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: -2px 2px 14px 3px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
article .nom {
  margin-bottom: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 380px) {
  article .nom {
    max-width: 280px;
  }
}
article .nom h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}
article .nom span {
  font-size: 1.4rem;
  font-weight: 100;
  flex-grow: 1;
}
@media screen and (max-width: 400px) {
  article .nom span {
    width: 200px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*BARRE DE NAVIGATION de la page d'accueil*/
.nav_logo {
  width: 165px;
  margin: 20px auto;
  display: block;
}

.header_pages {
  background-color: white;
  position: relative;
}
.header_pages .icone_fleche {
  width: 20px;
  font-size: 2rem;
  position: absolute;
  top: 25px;
  left: 30px;
}

/*HEADER DE LA PAGE D ACCUEIL*/
header {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .entree_ville {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.33);
  height: 60px;
  background-color: #e6e6e6;
  text-align: center;
}
header .entree_ville .icone_lieu {
  font-size: 2rem;
  padding-right: 10px;
}
header h1 {
  font-size: 2.3rem;
  text-align: center;
  padding: 0 70px;
  margin-top: 50px;
  margin-bottom: 0;
}
header p {
  font-size: 1.6rem;
  font-weight: 300;
  color: gray;
  text-align: center;
  padding: 0 20px;
}

figure {
  margin: 0;
}

.img_pages {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

h2 {
  font-size: 2.3rem;
  align-self: flex-start;
}

.restaurants {
  width: 100%;
  padding: 50px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .sans_titre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 880px) {
  .restaurants .sans_titre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
  }
}

.pages {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  width: 48%;
  min-width: 335px;
  max-width: 580px;
  flex-grow: 1;
  position: relative;
}
.pages .image_accueil {
  height: 175px;
  width: 100%;
}
.pages .image_accueil img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 98%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.pages .image_accueil .img_page2 {
  object-position: 50% 62%;
}
.pages .encadre {
  height: 30px;
  width: 80px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #278870;
  background-color: #99e2d0;
  padding-top: 7px;
  text-align: center;
  position: absolute;
  right: 15px;
  top: 20px;
}

.legende {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.legende .details_legende {
  font-size: 1.7rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  margin: 0px 0 15px 0;
  padding-left: 15px;
}
.legende .details_legende h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
}
.legende .details_legende h3::first-letter {
  text-transform: uppercase;
}
.legende .details_legende span {
  margin-top: 2px;
}

.page2_img {
  object-position: 50% 50%;
}

.menu {
  margin-top: -50px;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.titre_pages {
  padding-left: 20px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}
.titre_pages h3 {
  font-size: 2.7rem;
  margin-top: 40px;
  padding-right: 20px;
}
.titre_pages h3::first-letter {
  text-transform: uppercase;
}

footer {
  color: white;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 100px;
  margin-top: 30px;
  margin-left: 40px;
  filter: invert(100%);
}
footer a {
  color: white;
  line-height: 1.8;
  font-size: 1.6rem;
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: black;
}

li {
  color: black;
}
li i {
  width: 10px;
  font-size: 1.4rem;
  color: white;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
