html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo,
.titre_pages h3 {
  font-family: "Shrikhand", cursive;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  min-width: 45rem;
  max-width: 120rem;
  border: 0.1rem solid red;
}

.loading_spinner {
  height: 6rem;
  width: 6rem;
  border: 0.2rem solid #9356dc;
  border-radius: 50%;
}

.nav_logo {
  width: 20rem;
  margin: 2rem auto;
  display: block;
}

header {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
header form {
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}
header h1 {
  text-align: center;
  padding: 0 7rem;
  margin-top: 5rem;
  margin-bottom: 0;
}
header p {
  font-weight: 400;
  font-size: 2.1rem;
  color: grey;
  text-align: center;
  padding: 0 4rem;
}

.btn_action_explorer, .btn_action_commander {
  height: 6rem;
  width: 26rem;
  background: linear-gradient(to top, #9356dc, #ff79da);
  font-size: 1.8rem;
  color: white;
  border-radius: 5rem;
  border: 0.1rem;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.55);
  margin: 1rem auto 7rem auto;
}
.btn_action_explorer:hover, .btn_action_commander:hover {
  cursor: pointer;
}

.fonctionnement {
  padding: 3rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement ol {
  list-style: none;
  counter-reset: li;
  padding-left: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 4rem;
    justify-content: center;
  }
}
.fonctionnement ol li::before {
  content: counter(li);
  height: 3rem;
  width: 3rem;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  display: inline-block;
  margin-left: -1em;
  margin-top: 2em;
  text-align: center;
  padding-top: 0.5em;
}
.fonctionnement ol li {
  counter-increment: li;
  height: 8rem;
  min-width: 38rem;
  background-color: #f2f2f2;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  cursor: pointer;
}
.fonctionnement ol li p {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 1.5em;
  font-size: 2.2rem;
}
.fonctionnement ol li h4 {
  font-size: 1.3em;
  padding-left: 2em;
}
.fonctionnement ol li:hover {
  background-color: #e4d5f6;
}
.fonctionnement ol li:hover p {
  color: #9356dc;
}

h2 {
  font-size: 2.8rem;
  align-self: flex-start;
}

.restaurants {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .sans_titre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 880px) {
  .restaurants .sans_titre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
  }
}

.pages {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  width: 48%;
  min-width: 40.8rem;
  max-width: 58rem;
  flex-grow: 1;
}
.pages figure {
  width: 100%;
  margin: 0;
  position: relative;
}
.pages figure img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 98%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.pages figure .img_page2 {
  object-position: 50% 62%;
}
.pages figure::after {
  content: "Nouveau";
  height: 3.3rem;
  width: 9.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: #217460;
  background-color: #71d7be;
  padding-top: 0.7rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.pages figcaption {
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pages figcaption .details_figcaption {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 0;
}
.pages figcaption h3 {
  font-size: 2.1rem;
  margin-bottom: 0;
}
.pages figcaption .page3 h3::first-letter {
  text-transform: uppercase;
}
.pages figcaption span {
  margin-top: 0.5rem;
}
.pages figcaption div {
  font-weight: 100;
  font-size: 2rem;
  margin: 0.5rem 0 2rem 0;
}
.pages figcaption .heart_icon {
  font-size: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}
.pages figcaption .heart_icon:hover {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
}

.page2_img {
  object-position: 50% 50%;
}

footer {
  color: white;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 11rem;
  margin-top: 3rem;
  margin-left: 4rem;
  filter: invert(100%);
}
footer a {
  color: white;
  line-height: 1.8;
  font-size: 1.8rem;
}

a,
ul {
  list-style: none;
  text-decoration: none;
  color: black;
}

li {
  color: black;
}
li i {
  width: 1rem;
  font-size: 1.4rem;
  color: white;
  margin-right: 2rem;
}

.nav_pages {
  background-color: white;
}
.nav_pages i {
  font-size: 2rem;
  width: 2rem;
  float: left;
  position: absolute;
  top: 30px;
  left: 30px;
}

.image {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 35%;
  width: 100%;
  padding-top: 300px;
}

.menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.titre_pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 3rem;
}
.titre_pages h3 {
  font-size: 3rem;
  margin-top: 40px;
}
.titre_pages .heart_icon {
  font-size: 3rem;
  margin-right: 4rem;
  margin-top: 3rem;
}
.titre_pages .heart_icon:hover {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
}

.entrees,
.plats,
.desserts {
  margin: 0 15px;
}
.entrees > p,
.plats > p,
.desserts > p {
  font-size: 2rem;
  padding-left: 1rem;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;
}
.entrees > p:after,
.plats > p:after,
.desserts > p:after {
  content: "";
  width: 5rem;
  border-bottom: 4px solid #99e2d0;
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}

article {
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: -2px 2px 14px 3px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
article .nom {
  padding-left: 1rem;
  margin-bottom: 15px;
}
article .nom h4 {
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 2.1rem;
}
article .nom span {
  font-weight: 100;
  font-size: 1.8rem;
}
article .prix {
  font-weight: 500;
  font-size: 2rem;
  margin-right: 3rem;
}

.btn_action_commander {
  margin-top: 50px;
  width: 225px;
}

/*# sourceMappingURL=style.css.map */
