@import "./base/base";
@import "./base/typography";
@import "./utils/variables";
@import "./components/buttons";
@import "./utils/mixins";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  min-width: 45rem;
  border: 0.1rem solid red;
}

.loading_spinner {
  height: 6rem;
  width: 6rem;
  border: 0.2rem solid $color-primary;
  border-radius: 50%;
}

.nav_logo {
  width: 20rem;
  margin: 2rem auto;
  display: block;
}

header {
  width: 100%;
  background-color: $background-color-light;
  @include flex_column;
  align-items: stretch;
  form {
    height: 6rem;
    background-color: $background-color-medium;
    align-items: center;
    // .ville {
    //   -webkit-appearance: none;
    // }
  }
  h1 {
    text-align: center;
    padding: 0 7rem;
    margin-top: 5rem;
    margin-bottom: 0;
  }
  p {
    font-weight: 400;
    font-size: 2.1rem;
    color: grey;
    text-align: center;
    padding: 0 4rem;
  }
  .btn_action_explorer {
    height: 6rem;
    width: 26rem;
    background: linear-gradient(to left top, $color-primary, $color-secondary);
    font-size: 1.8rem;
    color: white;
    border-radius: 5rem;
    border: 0.1rem;
    box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.55);
    margin: 1rem auto 7rem auto;
    &:hover {
      cursor: pointer;
    }
  }
}
.fonctionnement {
  padding: 3rem 2rem 5rem 2rem;
  @include flex_column;
  align-items: flex-start;
  ol {
    list-style: none;
    counter-reset: li;
    padding-left: 0.5rem;
    li::before {
      content: counter(li);
      height: 3rem;
      width: 3rem;
      color: white;
      background-color: $color-primary;
      border-radius: 50%;
      display: inline-block;
      margin-left: -0.5em;
      margin-top: 2em;
      text-align: center;
      padding-top: 0.5em;
    }
    li {
      counter-increment: li;
      height: 8rem;
      min-width: 38rem;
      background-color: $background-color-light;
      box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
      border-radius: 2.5rem;
      margin-bottom: 3.5rem;
      @include flex_row;
      align-items: baseline;
      i {
        padding-left: 1.5em;
        opacity: 50%;
      }
      h4 {
        font-size: 1.3em;
        padding-left: 2em;
      }
      &:hover {
        background-color: $color-primary-light;
        i {
          color: $color-primary;
        }
      }
    }
    // i {
    //   transform: translate(-2rem 0);
    // }
  }
}
h2 {
  font-size: 2.8rem;
  align-self: flex-start;
}
.restaurants {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  background-color: $background-color-light;
  @include flex_column;
  figure {
    margin: 0;
    img {
      height: 20rem;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
  }
}
.pages {
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}
figcaption {
  background-color: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  @include flex_row;
  justify-content: space-between;
  .details_figcaption {
    @include flex_column;
    padding-left: 2rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .figcaption_lieu {
    font-size: 2rem;
    margin: 0.5rem 0 2rem 0;
  }
  i {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
footer {
  color: white;
  background-color: $background-color-dark;
  @include flex_column;
  a,
  img {
    color: white;
  }
}

.btn_action_commander {
  @extend.btn_action_explorer;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
i {
  font-size: 2rem;
}
