@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./components/loading";
@import "./components/form";
@import "./layout/navigation.scss";
@import "./layout/header.scss";
@import "./layout/main";
@import "./layout/footer.scss";

h2 {
  font-size: 2.3rem;
  align-self: flex-start;
}

.pages {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  width: 48%;
  min-width: 335px;
  max-width: 580px;
  flex-grow: 1;
  position: relative;
  .image_accueil {
    height: 175px;
    width: 100%;

    img {
      height: 175px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 98%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .img_page2 {
      object-position: 50% 62%;
    }
  }
  .encadre {
    height: 30px;
    width: 80px;
    font-size: 1.3rem;
    font-weight: bold;
    color: darken($color-tertiary, 45);
    background-color: darken($color-tertiary, 10);
    padding-top: 7px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 20px;
  }
}
.legende {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @include flex_row;
  justify-content: space-between;
  .details_legende {
    font-size: 1.7rem;
    font-weight: 100;
    @include flex_column;
    margin: 0px 0 15px 0;
    padding-left: 15px;
    h3 {
      font-size: 1.7rem;
      margin-bottom: 0;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    span {
      margin-top: 2px;
    }
  }
}

.animation_coeur {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.icone_vide {
  font-size: 2rem;
  color: $color-icons;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}
.animation_coeur:hover .icone_vide {
  opacity: 0;
}
.icone_plein {
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.animation_coeur:hover .icone_plein {
  opacity: 1;
}

.page2_img {
  object-position: 50% 50%;
}

// PAGES

.header_pages {
  background-color: white;
  position: relative;
  .icone_fleche {
    width: 20px;
    font-size: 2rem;
    position: absolute;
    top: 25px;
    left: 30px;
  }
}

figure {
  margin: 0;
}
.img_pages {
  height: 260px;
  width: 100%;
  object-fit: cover;
}
.menu {
  margin-top: -50px;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  @include flex_column;

  background-color: $background-color-base;
}

.titre_pages {
  padding-left: 20px;
  padding-right: 15px;
  @include flex_row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  h3 {
    font-size: 2.7rem;
    margin-top: 40px;
    padding-right: 20px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .pages_animation_coeur {
    position: relative;
    cursor: pointer;
    margin-right: 0;
  }
  .pages_icone_vide {
    color: $color-icons;
    margin-right: 20px;
    font-size: 3rem;
    z-index: 1;
  }
  .pages_animation_coeur:hover .pages_icone_vide {
    opacity: 0;
  }
  .pages_icone_plein {
    font-size: 3rem;
    color: transparent;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  .pages_animation_coeur:hover .pages_icone_plein {
    opacity: 1;
  }
}

// .article {
//   .nom,
//   .prix {
//     animation: opacite linear 2s;
//   }
// }

.entrees,
.plats,
.desserts {
  margin: 0 12.5px;
  margin-bottom: 40px;
  opacity: 0;

  & > p {
    font-weight: 100;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 10px;
    position: relative;
    &:after {
      content: "";
      width: 4rem;
      border-bottom: 4px solid $color-tertiary;
      position: absolute;
      bottom: -10px;
      left: 10px;
    }
  }
}

.entrees {
  animation: opacite 2s linear forwards;
}
.plats {
  animation: opacite 2s linear forwards 1s;
}
.desserts {
  animation: opacite 2s linear forwards 2s;
}

article {
  min-width: 350px;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;

  box-shadow: -2px 2px 14px 3px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  @include flex_row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;

  .nom {
    margin-bottom: 15px;
    padding-left: 10px;
    @include flex_column;

    @media screen and (max-width: 380px) {
      max-width: 280px;
    }

    h4 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 15px;

      margin-bottom: 0;
    }
    span {
      font-size: 1.4rem;
      font-weight: 100;
      flex-grow: 1;
      @include breakpoint(small) {
        width: 200px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .prix {
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 30px;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
    transition: right 0.3s;
  }
  .validation_du_plat {
    height: 100%;
    width: 0;
    background-color: $color-tertiary;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    position: absolute;
    right: 0;

    transition: width 0.3s;

    .icone_validation {
      height: 20px;
      width: 20px;
      fill: white;
      position: relative;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      transform: rotate(0);
      transition: transform 0.5s;
    }
  }
}

article:hover .validation_du_plat {
  width: 17%;
  display: block;
  right: 0;

  .icone_validation {
    width: 20px;
    transform: rotate(360deg);
  }
}

// @keyframes decalage_gauche_prix {
//   0% {
//     right: 0;
//   }
//   100% {
//     right: 15%;
//   }
// }

article:hover .prix {
  // animation: decalage_gauche_prix 0.2s linear forwards;
  right: 15%;
}
