// RESTAURANTS
.restaurants {
  width: 100%;
  padding: 50px 20px;

  background-color: $background-color-base;
  @include flex_column;
  align-items: center;

  .sans_titre {
    width: 100%;
    @include flex_column;
    align-items: center;

    @include breakpoint(medium) {
      @include flex_row;
      justify-content: space-between;
      column-gap: 20px;
    }
  }
}
