// TRANSITION ENTRE LES 2 COEURS SUR LA PAGE D ACCUEIL

.animation_coeur {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.icone-vide {
  font-size: 2rem;
  color: $color-icons;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1;
}
.animation_coeur:hover .icone-vide {
  opacity: 0;
}
.icone-plein {
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.animation_coeur:hover .icone-plein {
  opacity: 1;
}

// TRANSITION ENTRE LES 2 COEURS SUR LES PAGES DES RESTAURANTS

.pages_animation_coeur {
  position: relative;
  cursor: pointer;
  margin-right: 0;
}
.pages_icone-vide {
  color: $color-icons;
  margin-right: 20px;
  font-size: 3rem;
  z-index: 1;
}
.pages_animation_coeur:hover .pages_icone-vide {
  opacity: 0;
}
.pages_icone-plein {
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: 0px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.pages_animation_coeur:hover .pages_icone-plein {
  opacity: 1;
}
