/*FONCTIONNEMENT*/
.fonctionnement {
  padding: 30px 20px 50px 20px;
  @include flex_column;
  align-items: center;
  ol {
    list-style: none;
    counter-reset: li;
    padding-left: 5px;

    // @media screen and (min-width: 1000px) {
    @include breakpoint(large) {
      @include flex_row;
      column-gap: 40px;
      justify-content: center;
    }
    li::before {
      content: counter(li);
      height: 20px;
      width: 20px;
      color: white;
      background-color: $color-primary;
      border-radius: 50%;
      display: inline-block;
      margin-left: -0.5rem;
      text-align: center;

      padding-top: 0.1em;
    }
    li {
      counter-increment: li;
      height: 70px;
      min-width: 325px;

      background-color: $background-color-base;
      box-shadow: 3px 16px 35px -5px rgba(0, 0, 0, 0.15);
      border-radius: 25px;
      margin-bottom: 25px;
      @include flex_row;
      align-content: center;
      align-items: baseline;
      cursor: pointer;
      p {
        color: $color-icons;
        padding-left: 1.5em;
        font-size: 2rem;
      }
      h4 {
        font-size: 1.3rem;
        padding-left: 2em;
      }
      &:hover,
      &:active {
        // @include lighten($color-primary, $amount);
        background-color: lighten($color-primary, 30);
        p {
          color: $color-primary;
        }
      }
    }
  }
}
