@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// PAGE D ACCUEIL

// LOADING SPINNER
body > :not(.container) {
  opacity: 0;
  animation: opacite 3s ease-out forwards;
}
.container {
  z-index: 1;
  position: absolute;
  animation: opacite 3s ease-out forwards reverse;
}

.loading_spinner {
  height: 100px;
  width: 100px;
  background-color: $color-primary;
  border-radius: 50%;
  top: calc(45% - 50px);
  left: calc(50% - 50px);
  position: fixed;
  @include flex_row;
  justify-content: center;
  align-items: center;
  animation: rotation 3s linear infinite;
  i {
    font-size: 50px;
    color: $color-tertiary;
    display: block;
  }
}
.cercle {
  height: 120px;
  width: 120px;
  border-top: 10px solid $color-secondary;
  border-right: 10px solid $color-tertiary;
  border-bottom: 10px solid $color-secondary;
  border-left: 10px solid $color-tertiary;
  border-radius: 50%;
  top: calc(45% - 60px);
  left: calc(50% - 60px);
  position: fixed;
  animation: rotation 3s linear infinite;
  animation-direction: reverse;
}

// PAGE DES RESTAURANTS

// ANIMATION DES BLOCS ENTREES PLATS DESSERTS
.entrees,
.plats,
.desserts {
  margin: 0 12.5px;
  margin-bottom: 40px;
  opacity: 0;

  & > p {
    font-weight: 100;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 10px;
    position: relative;
    &:after {
      content: "";
      width: 4rem;
      border-bottom: 4px solid $color-tertiary;
      position: absolute;
      bottom: -10px;
      left: 10px;
    }
  }
}

.entrees {
  animation: opacite 2s linear forwards;
}
.plats {
  animation: opacite 2s linear forwards 1s;
}
.desserts {
  animation: opacite 2s linear forwards 2s;
}

// ANIMATION DE VALIDATION DU PLAT

.prix {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 30px;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  transition: right 0.3s;
}
.validation_du_plat {
  height: 100%;
  width: 0;
  background-color: $color-tertiary;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: 0;
  transition: width 0.3s;

  .icone_validation {
    height: 20px;
    width: 20px;
    fill: white;
    position: relative;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    transform: rotate(0);
    transition: transform 0.5s;
  }
}

article:hover .validation_du_plat {
  width: 17%;

  .icone_validation {
    width: 20px;
    transform: rotate(360deg);
  }
}

article:hover .prix {
  right: 15%;
}
