@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes decalage_gauche {
  0% {
    z-index: -1;
    right: -25%;
  }
  100% {
    z-index: 1;
    right: -1;
  }
}

@keyframes decalage_gauche_prix {
  0% {
    right: 0;
  }
  100% {
    right: 16%;
  }
}
