@mixin flex_middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
